beautifulsoup4==4.12.3
chunkdot==0.4.2
cloudpickle==2.2.1
jupyterlab==4.1.8
langdetect==1.0.9
matplotlib==3.7.1
nltk==3.8.1
numpy==1.24.3
pandas==2.0.1
python-dotenv==1.0.1
scikit-learn==1.2.2
scipy==1.13.0
seaborn==0.11.2
streamlit==1.34.0
statsmodels==0.14.0
textblob==0.18.0
vaderSentiment==3.3.2
pytest==7.4.0
testbook==0.4.2
parsenvy==3.0.2
black==23.3.0
protobuf==4.23.3