jupyterlab==4.1.8
numpy==1.24.3
pandas==2.0.1
scipy==1.13.0
beautifulsoup4==4.12.3
nltk==3.8.1
python-dotenv==1.0.1
spotipy==24.0
chunkdot==0.4.2
cloudpickle==2.2.1
langdetect==1.0.9
matplotlib==3.7.1
seaborn==0.11.2
scikit-learn==1.2.2
streamlit==1.34.0
statsmodels==0.14.0
textblob==0.18.0
vaderSentiment==3.3.2